@font-face
{
	font-family: "quicksand";
    src: url(../../public/fonts/Quicksand-Regular.otf);
}

@font-face
{
	font-family: "curve";
	src: url(../../public/fonts/learning_curve_bold_ot_ps.otf);
}

/* Général */

h1, h2 {
    font-family: 'curve';
    font-weight: bold;
    text-shadow: 5px 5px 15px black;
}

h1 {
    font-size: 5em;
    color: #3D2205;
    
}

h2 {
    font-size: 3em;
    color: #3D2205;
}

body {
    font-family: 'quicksand';
    background-image: url("../images/bg.jpg");
}

body p {
    font-size: 16px;
    font-weight: bold;
}

#lien_admin a {
    color: #3D2205;
    font-size: 1.5em;
    font-weight: bold;
}

#lien_admin a:hover {
    color: #9A5B19;
}

#tableau {
    margin-top: 100px;
    margin-bottom: 100px;
}

table {
    margin-bottom: 50px;
    border-collapse: collapse;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}

table th, td {
    border: 2px solid #3D2205;
    padding: 10px;
}

table a {
    color: #3D2205;
    font-size: 16px;
    font-weight: bold;
}

table a:hover {
    color: #9A5B19;
}

/* Menu */

header {
    display: flex;
    z-index: 1;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
}

header ul, li {
    list-style-type: none;
    display: flex;
    margin: 0 auto;
}

 header ul {
     margin-left: 340px;
 }

header a {
    margin-top: 25px;
    margin-right: 130px;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #6C3701;
}

header a:hover {
    color:#9A5B19;
}

/* Billets et commentaires */

#title {
    text-align: center;
}

section {
    padding: 30px;
}

#content {
    width: 700px;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    box-shadow: 0px 5px 100px black;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 100px;
    padding-bottom: 100px;
}

#content img {
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    border-radius: 15px;
    width: 500px;
}

#book_description ul {
    font-size: 16px;
    font-weight: bold;
}

#bio {
    text-align: justify;
}

.newPost {
    font-weight: bold;
    margin-top: 100px;
    text-align: justify;
}

.newPost p {
    font-size: 16px;
}

.newPost h3 {
    border-top: 2px solid #3D2205;
    padding-top: 30px;
    font-size: 1.5em;
}

#commentaires {
    border: 2px dashed #3D2205;
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    margin-bottom: 30px;
    width: 100%;
}

input {
    width: 150px;
    height: 20px;
    font-size: 16px;
    border: 2px solid #3D2205;
    border-radius: 5px;
    font-family: 'quicksand';
    font-weight: bold;
    display: flex;
    flex-direction: column;
    padding: 5px;
    margin-bottom: 10px;
}

textarea {
    width: 500px;
    height: 200px;
    font-size: 16px;
    border: 2px solid #3D2205;
    border-radius: 5px;
    font-family: 'quicksand';
    font-weight: bold;
    padding: 5px;
    margin-bottom: 5px;
}

.submit {
    width: 150px;
    height: 30px;
    justify-content: center;
    margin-top: 30px;
}

.liens {
    color: #3D2205;
    font-size: 1.5em;
    font-weight: bold;
}

.liens:hover {
    color: #9A5B19;
}

/* Footer */

footer {
    background-color: white;
    width: 100%;
    height: 70px;
    font-weight: bold;
    position: static;
    left: 0;
}

footer ul {
    display: flex;
}

footer li {
    color: #6C3701;
    font-size: 20px;
    margin-top: 20px;
}